$white : #FFFFFF;
$white_80 : #FFFFFFEE;
$dark_white : #DDD;
$black : #000000;
$light_black : #1f1f1f;
$dark_grey : #3A3A3A;
$light_grey : #707070;
$nav_grey : #959595;
$nav_grey_active : #DDDDDD80;
$overBackground: rgba(190, 190, 190, 0.151);
$green_olive: #547654;
$modal-fog: #bebb5d46;

$primary-color: #007BFF;
$secondary-color: #6C757D;
$success-color: #28A745;
$danger-color: #DC3545;
$danger-color-hover: #DB0F23;

$warning-color: #FFC107;
$info-color: #17A2B8;
$light-color: #DDE7EE;
$dark-color: #343A40;