@import './fonts.scss';
@import './colors.scss';

$main_width: 100vw - 0.5vw;
$main_height: 100vh;
$main_bg: $white;
$main-bg-image: url('../../media/landingAmz.jpg');

*,
html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition-duration: 0.2s;
  font-family: $main_font;
  -webkit-box-sizing: border-box;
  -webkit-app-region: no-drag;
  -webkit-user-modify: read-only;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: $green_olive;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $black;
}

body {
  background-image: $main-bg-image;
  background-size: cover;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#root {
  height: $main_height;
  overflow: auto;
  overflow: hidden;
}

// TopBar
$top_bar_color: $black;
$top_bar_bg: $dark_white;

// Login View
$logo_width: 25%;
$logo_height: 20%;

// Home View

// Navbar
$side_bar_width: $main_width;
$side_bar_height: 60px;
